<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image, size: "150x125") %>
  <p><%= pet.name %></p>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.shelter.name %></p>
  <%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>

# <%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new" %>
