<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image, size: "150x125") %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
  <p><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
  <%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %><br>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %><br>
<% end %>

# <%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new" %>
