<h1>Edit Pet</h1>

<%= form_tag("/pets/#{@pet.id}", method: :patch) do %>
  <%= label_tag "Image" %>
  <%= text_field_tag :image %>

  <%= label_tag "Name" %>
  <%= text_field_tag :name %>

  <%= label_tag "Description" %>
  <%= text_field_tag :description %>

  <%= label_tag "Approximate Age" %>
  <%= text_field_tag :approximate_age %>

  <%= label_tag "Sex" %>
  <%= text_field_tag :sex %>

  <%= submit_tag "Update Pet" %>
<% end %>
